*

!/.gitignore
!/Kokoha/
!/Kokoha/Kokoha.sln

!/Kokoha/Kokoha/
!/Kokoha/Kokoha/Kokoha.vcxproj
!/Kokoha/Kokoha/Kokoha.vcxproj.filters
!/Kokoha/Kokoha/Kokoha.vcxproj.user

!/Kokoha/Kokoha/Src/
!/Kokoha/Kokoha/Src/**/
!/Kokoha/Kokoha/Src/**/*.*

!/Kokoha/Kokoha/App/
!/Kokoha/Kokoha/App/icon.ico
!/Kokoha/Kokoha/App/Resource.rc

!/Kokoha/Kokoha/App/Assets/
!/Kokoha/Kokoha/App/Assets/**/
!/Kokoha/Kokoha/App/Assets/**/*.*