//////////////////////////////////////////////////////
# define DefineResource(identifier,type,path) identifier type #path
# define Resource(path) DefineResource(path, FILE, path)

//////////////////////////////////////////////////////
//
// Siv3D Engine Resources (DO NOT REMOVE)
//
//////////////////////////////////////////////////////
DefineResource(100, ICON, Icon.ico)
Resource(engine/shader/sprite.vs)
Resource(engine/shader/shape.ps)
Resource(engine/shader/texture.ps)
Resource(engine/shader/square_dot.ps)
Resource(engine/shader/round_dot.ps)
Resource(engine/shader/sdf.ps)
Resource(engine/shader/fullscreen_triangle_resolve.vs)
Resource(engine/shader/fullscreen_triangle_draw.vs)
Resource(engine/shader/fullscreen_triangle_resolve.ps)
Resource(engine/shader/fullscreen_triangle_draw.ps)
Resource(engine/shader/copy.ps)
Resource(engine/shader/gaussian_blur_9.ps)
Resource(engine/texture/box-shadow/256.png)
Resource(engine/texture/box-shadow/128.png)
Resource(engine/texture/box-shadow/64.png)
Resource(engine/texture/box-shadow/32.png)
Resource(engine/texture/box-shadow/16.png)
Resource(engine/texture/box-shadow/8.png)
Resource(engine/font/mplus/mplus-1p-medium.ttf.zstdcmp)
Resource(engine/emoji/noto7_dictionary.dat)

//////////////////////////////////////////////////////
//
// Siv3D Engine Optional Resources (Can be removed if not required)
//
//////////////////////////////////////////////////////
Resource(engine/font/mplus/mplus-1p-thin.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-light.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-regular.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-bold.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-heavy.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-black.ttf.zstdcmp)
Resource(engine/font/noto/NotoColorEmoji.ttf.zstdcmp)
Resource(engine/font/noto/NotoEmoji-Regular.ttf.zstdcmp)
Resource(engine/font/fontawesome/fontawesome-brands.otf.zstdcmp)
Resource(engine/font/fontawesome/fontawesome-solid.otf.zstdcmp)
Resource(engine/objdetect/haarcascade/eye.xml.zstdcmp)
Resource(engine/objdetect/haarcascade/eye_eyeglasses.xml.zstdcmp)
Resource(engine/objdetect/haarcascade/face_anime.xml.zstdcmp)
Resource(engine/objdetect/haarcascade/frontal_catface.xml.zstdcmp)
Resource(engine/objdetect/haarcascade/frontal_face_alt2.xml.zstdcmp)
Resource(engine/soundfont/GMGSx.sf2.zstdcmp)

//////////////////////////////////////////////////////
//
// Siv3D App Resources (Your application resources here)
//
//////////////////////////////////////////////////////
Resource(Assets/Data/Adventure/DoctorRoom.csv)
Resource(Assets/Data/Adventure/Entrance.csv)
Resource(Assets/Data/Adventure/GarbageDump.csv)
Resource(Assets/Data/Adventure/Labolatory.csv)
Resource(Assets/Data/Adventure/LastRoom.csv)
Resource(Assets/Data/Adventure/Library.csv)
Resource(Assets/Data/Adventure/StoreRoom.csv)
Resource(Assets/Data/CassetteInfo.csv)
Resource(Assets/Data/Event/Event(1-1).csv)
Resource(Assets/Data/Event/Event(1-2).csv)
Resource(Assets/Data/Event/Event(1-3).csv)
Resource(Assets/Data/Event/Event(2-1).csv)
Resource(Assets/Data/Event/Event(2-2).csv)
Resource(Assets/Data/Event/Event(2-3).csv)
Resource(Assets/Data/Event/Event(3-1).csv)
Resource(Assets/Data/Event/Event(3-2).csv)
Resource(Assets/Data/Event/Event(3-3).csv)
Resource(Assets/Data/Event/Event(4-1).csv)
Resource(Assets/Data/Event/Event(4-2).csv)
Resource(Assets/Data/Event/Event(4-3).csv)
Resource(Assets/Data/Event/Event(5-1).csv)
Resource(Assets/Data/Event/Event(5-2).csv)
Resource(Assets/Data/Event/Event(5-3).csv)
Resource(Assets/Data/Event/Event(6-1).csv)
Resource(Assets/Data/Event/Event(6-2).csv)
Resource(Assets/Data/Event/Event(6-3).csv)
Resource(Assets/Data/Event/Event(Kokoro).csv)
Resource(Assets/Data/Event/Event(Last).csv)
Resource(Assets/Data/Event/Event(LastKokoro).csv)
Resource(Assets/Data/Event/Event(Tutorial).csv)
Resource(Assets/Data/Event/TestEvent.csv)
Resource(Assets/Data/Game/1-1.csv)
Resource(Assets/Data/Game/1-2.csv)
Resource(Assets/Data/Game/1-3.csv)
Resource(Assets/Data/Game/2-1.csv)
Resource(Assets/Data/Game/2-2.csv)
Resource(Assets/Data/Game/2-3.csv)
Resource(Assets/Data/Game/3-1.csv)
Resource(Assets/Data/Game/3-2.csv)
Resource(Assets/Data/Game/3-3.csv)
Resource(Assets/Data/Game/4-1.csv)
Resource(Assets/Data/Game/4-2.csv)
Resource(Assets/Data/Game/4-3.csv)
Resource(Assets/Data/Game/5-1.csv)
Resource(Assets/Data/Game/5-2.csv)
Resource(Assets/Data/Game/5-3.csv)
Resource(Assets/Data/Game/6-1.csv)
Resource(Assets/Data/Game/6-2.csv)
Resource(Assets/Data/Game/6-3.csv)
Resource(Assets/Data/Game/Kokoro.csv)
Resource(Assets/Data/Game/Last.csv)
Resource(Assets/Data/Game/Path/Test.bin)
Resource(Assets/Data/Game/Test.csv)
Resource(Assets/Data/Game/Tutorial.csv)
Resource(Assets/Data/RECORD.txt)
Resource(Assets/Kokoha(debug)_log.html)
Resource(Assets/Texture/Event_Adventure/BackGround/BlackBack.png)
Resource(Assets/Texture/Event_Adventure/BackGround/BrokenPhoto/DeveloperPhoto.png)
Resource(Assets/Texture/Event_Adventure/BackGround/BrokenPhoto/DoctorPhoto.png)
Resource(Assets/Texture/Event_Adventure/BackGround/BrokenPhoto/Repair0Photo.png)
Resource(Assets/Texture/Event_Adventure/BackGround/BrokenPhoto/Repair1Photo.png)
Resource(Assets/Texture/Event_Adventure/BackGround/BrokenPhoto/Repair2Photo.png)
Resource(Assets/Texture/Event_Adventure/BackGround/BrokenPhoto/Searcher0Photo.png)
Resource(Assets/Texture/Event_Adventure/BackGround/BrokenPhoto/Searcher1Photo.png)
Resource(Assets/Texture/Event_Adventure/BackGround/Entrance.png)
Resource(Assets/Texture/Event_Adventure/BackGround/GarbageDump(now).png)
Resource(Assets/Texture/Event_Adventure/BackGround/GarbageDump.png)
Resource(Assets/Texture/Event_Adventure/BackGround/Labolatory(now).png)
Resource(Assets/Texture/Event_Adventure/BackGround/Labolatory.png)
Resource(Assets/Texture/Event_Adventure/BackGround/LastRoom.png)
Resource(Assets/Texture/Event_Adventure/BackGround/Library(now).png)
Resource(Assets/Texture/Event_Adventure/BackGround/Library.png)
Resource(Assets/Texture/Event_Adventure/BackGround/LibraryAndPC.png)
Resource(Assets/Texture/Event_Adventure/BackGround/StoreRoom(now).png)
Resource(Assets/Texture/Event_Adventure/BackGround/StoreRoom.png)
Resource(Assets/Texture/Event_Adventure/BackGround/TutorialBack.png)
Resource(Assets/Texture/Event_Adventure/BackGround/WhiteBack.png)
Resource(Assets/Texture/Event_Adventure/BackGround/WorkSpace(now).png)
Resource(Assets/Texture/Event_Adventure/BackGround/WorkSpace(old).png)
Resource(Assets/Texture/Event_Adventure/BackGround/WorkSpace.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/Accel1Cassette.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/Accel2Cassette.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/Accel3Cassette.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/CassetteIcon.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/Cost.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/Cursor1Cassette.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/Cursor2Cassette.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/DashCassette.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/FlashCassette.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/Goal1Cassette.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/Goal2Cassette.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/KokoroCassette.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/NoIconCassette.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/Player1Cassette.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/Player2Cassette.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/Random1Cassette.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/Random2Cassette.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/Random3Cassette.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/Speed1Cassette.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/Speed2Cassette.png)
Resource(Assets/Texture/Event_Adventure/CassetteIcon/Speed3Cassette.png)
Resource(Assets/Texture/Event_Adventure/Development/Entrance(dvlp).png)
Resource(Assets/Texture/Event_Adventure/Development/GarbageDump(dvlp).png)
Resource(Assets/Texture/Event_Adventure/Development/Labolatory(dvlp).png)
Resource(Assets/Texture/Event_Adventure/Development/Labolatory(old)(dvlp).png)
Resource(Assets/Texture/Event_Adventure/Development/LastRoom(dvlp).png)
Resource(Assets/Texture/Event_Adventure/Development/Library(dvlp).png)
Resource(Assets/Texture/Event_Adventure/Development/StoreRoom(dvlp).png)
Resource(Assets/Texture/Event_Adventure/Development/WorkSpace(dvlp).png)
Resource(Assets/Texture/Event_Adventure/Object/BookShelf.png)
Resource(Assets/Texture/Event_Adventure/Object/Boxes.png)
Resource(Assets/Texture/Event_Adventure/Object/BrokenPoster.png)
Resource(Assets/Texture/Event_Adventure/Object/BulletinBoard.png)
Resource(Assets/Texture/Event_Adventure/Object/Cardboard.png)
Resource(Assets/Texture/Event_Adventure/Object/CeilingCode.png)
Resource(Assets/Texture/Event_Adventure/Object/CheckIcon.png)
Resource(Assets/Texture/Event_Adventure/Object/Code.png)
Resource(Assets/Texture/Event_Adventure/Object/DeadDoctor.png)
Resource(Assets/Texture/Event_Adventure/Object/DoctorDesk.png)
Resource(Assets/Texture/Event_Adventure/Object/DoctorWorkbench.png)
Resource(Assets/Texture/Event_Adventure/Object/Door[DoctorRoom].png)
Resource(Assets/Texture/Event_Adventure/Object/Door[Entrance].png)
Resource(Assets/Texture/Event_Adventure/Object/Door[GarbageDump].png)
Resource(Assets/Texture/Event_Adventure/Object/Door[Labolatory].png)
Resource(Assets/Texture/Event_Adventure/Object/Door[LastRoom].png)
Resource(Assets/Texture/Event_Adventure/Object/Door[Library].png)
Resource(Assets/Texture/Event_Adventure/Object/Door[StoreRoom].png)
Resource(Assets/Texture/Event_Adventure/Object/EntranceGate.png)
Resource(Assets/Texture/Event_Adventure/Object/Invisible.png)
Resource(Assets/Texture/Event_Adventure/Object/LaboWorkbench.png)
Resource(Assets/Texture/Event_Adventure/Object/LightBulb.png)
Resource(Assets/Texture/Event_Adventure/Object/Monitor.png)
Resource(Assets/Texture/Event_Adventure/Object/OpenedCardboard.png)
Resource(Assets/Texture/Event_Adventure/Object/OpenEntranceGate.png)
Resource(Assets/Texture/Event_Adventure/Object/PC.png)
Resource(Assets/Texture/Event_Adventure/Object/Poster0x22c.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/BoxRobot.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/BrokenBoxRobot.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/BrokenDeveloper.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/BrokenHelpRobot.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/BrokenRepair0.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/BrokenRepair1.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/BrokenRepair2.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/BrokenResearcher.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/BrokenSearcher0.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/BrokenSearcher1.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/BrokenSearcher2.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/Developer.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/HelpRobot.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/MainRobot.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/Repair0.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/Repair1.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/Repair2.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/Researcher.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/Searcher0.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/Searcher1.png)
Resource(Assets/Texture/Event_Adventure/Object/Robot/Searcher2.png)
Resource(Assets/Texture/Event_Adventure/Object/Shelf.png)
Resource(Assets/Texture/Event_Adventure/Object/TrashBox.png)
Resource(Assets/Texture/Event_Adventure/TextBox/BoxRobotIcon.png)
Resource(Assets/Texture/Event_Adventure/TextBox/DeveloperIcon.png)
Resource(Assets/Texture/Event_Adventure/TextBox/DoctorIcon.png)
Resource(Assets/Texture/Event_Adventure/TextBox/EntranceGateIcon.png)
Resource(Assets/Texture/Event_Adventure/TextBox/HelpRobotIcon.png)
Resource(Assets/Texture/Event_Adventure/TextBox/MainRobotIcon.png)
Resource(Assets/Texture/Event_Adventure/TextBox/Repair0Icon.png)
Resource(Assets/Texture/Event_Adventure/TextBox/Repair1Icon.png)
Resource(Assets/Texture/Event_Adventure/TextBox/Repair2Icon.png)
Resource(Assets/Texture/Event_Adventure/TextBox/ResearcherIcon.png)
Resource(Assets/Texture/Event_Adventure/TextBox/Searcher0Icon.png)
Resource(Assets/Texture/Event_Adventure/TextBox/Searcher1Icon.png)
Resource(Assets/Texture/Event_Adventure/TextBox/Searcher2Icon.png)
Resource(Assets/Texture/Event_Adventure/TextBox/TextBox.png)
Resource(Assets/Texture/Game/Attack.png)
Resource(Assets/Texture/Game/BlackEnemy.png)
Resource(Assets/Texture/Game/Enemy.png)
Resource(Assets/Texture/Game/Goal.png)
Resource(Assets/Texture/Game/GoalKey.png)
Resource(Assets/Texture/Game/Hole.png)
Resource(Assets/Texture/Game/Level.png)
Resource(Assets/Texture/Game/Patrol.png)
Resource(Assets/Texture/Game/Player.png)
Resource(Assets/Texture/Game/WhiteEnemy.png)
Resource(Assets/Texture/KokoPal.pal)
Resource(Assets/Texture/Title/Logo.png)



/* 
	//
	// Define your resource path inside `Resource()` macro.
	// No double quotation marks and white spaces may appear.
	//
	Resource(example/siv3d-kun.png)		// ok
	Resource(example/windmill.png)		// ok
	Resource(assets/a b c.txt)			// error: contains white spaces
	Resource("example/windmill.png")	// error: contains double quotation marks

	//
	// If your file contains a white space, define the identifier without using Resource() macro.
	//
	MYIDENTIFIER_1 FILE "assets/a b c.txt"
	MYIDENTIFIER_2 FILE "level 1/map.dat"
*/
